body {
	background: black;
	min-width: 800px;
}

	#searchStudent{
		width: 100%;
		text-align: left;
		color: #FFFFFF;
	}
	#searchStudent a{
		color:black;
		text-decoration:none;
	}
	#searchStudent a:hover{
		text-decoration:underline;
	} 
	#searchStudent a:visited{
		color:orange;
	}
	#container{
		width:900px;
		margin: 10px auto 10px auto;
		border 2px dotted #333333;
		background-color:white;
		color:red;
	}
	#content{
		pading:10px;
	}
	footer{
		font-size:1em;
		text-align:right;
	}
	label {
		font-family: Arial, Helvetti ca, sans-serif;
		color:green;
		font-style:italic;
	}
	h1{ 
		font-family: Arial, Helvettica, sans-serif;
		color:blue;
		font=weight:bolder;
		font-size: 2.5em;
	}
	/* 
	table{
		margin:20px;
		padding:10px;
		border: 5px solid black;
		width:100px;
		height:100px;
		text-align:justify;
		float:left;
	} 
	*/